body {background:url(../images/glowing_butterflies_in_a_mason_jar.jpg) repeat-x center top #000; font-family:Arial, Helvetica, sans-serif; font-size:100%; line-height:1em; color:#a6a6a6}

html {min-width:1000px}

html, body {height:100%}

.container {overflow:hidden; width:1000px; font-size:.875em; padding:60px 0 140px 0}

header .container {height:467px;}

aside {width:311px; position:relative; z-index:10; float:left; margin-right:-10px}

section#content {position:relative; z-index:10;width:650px; float:left}

footer {background:url(../images/photofacefun_com_1542871867.jpg) repeat-x center top; margin-top: 229px}

footer .container {height:229px; text-align:center; color:#fff; padding:0; line-height:1.429em}

.fleft {float:left}

.fright {float:right}

.clear {clear:both}

.col-1, .col-2, .col-3 {float:left}

.alignright {text-align:right}

.aligncenter {text-align:center}

.wrapper {width:100%; overflow:hidden}

.wrap {height:auto !important; height:100%; min-height:100%}

