header nav {position: absolute;
    right: 60px;
    top: 0;
    z-index: 20;
}

header nav ul li {float: left;
    font-size: 16px;
    line-height: 1.2em;
    padding-left: 13px;
}

header nav ul li a {text-decoration: none;
    display: block;
    color: floralwhite;
    background-image: url(../images/spacer.gif);
    background-repeat: no-repeat;
    background-position: left top;
}

header nav ul li a:hover, header nav ul li a.active {color: black;
    background-image:url(../images/nav-act-left.png);
}

header nav ul li a span {display: block;
    padding: 0 3px;
    background-repeat: no-repeat;
    background-image:url(../images/spacer.gif); 
    background-position: right top;
}

header nav ul li a:hover span, header nav ul li a.active span {background-image:url(../images/nav-act-right.png);
}

header nav ul li a span span {padding: 40px 20px 26px 20px; 
    background-repeat: repeat-x;
    background-image:url(../images/spacer.gif);
}

header nav ul li a:hover span span, header nav ul li a.active span span {background-image:url(../images/nav-act-tail.gif);}


#content .inside {padding:0 0 0 60px;
}

#content.extra {width:auto;
}

#content .list li {padding-bottom:8px;
}


aside .inside {padding:0 0 0 60px;
}

aside figure {margin-left: -60px;
    padding-top: 15px;
}


footer .inside {padding: 148px 0 0 0;}

footer a {color: white;
}


#contacts-form {clear:  right;
    width: 100%; 
    overflow: hidden;
}

#contacts-form fieldset {border: none;
    float:left;
}

#contacts-form .field {clear: both;
    height: 29px;
}

#contacts-form label {float: left;
    width: 107px;
    color: floralwhite;
    padding-top: 2px;
}

#contacts-form input {width: 237px;
    padding: 1px 0 1px 3px;
    border: 1px solid floralwhite;
    color: floralwhite;
    background: none;
    float: left;
}

#contacts-form textarea {width: 237px;
    height: 114px;
    padding: 1px 0 1px 3px;
    border: 1px solid floralwhite;
    color: floralwhite;
    margin-bottom: 15px;
    overflow: auto;
    background: none;
    float: left;
}

ul.tabs { position: absolute;
    right: 60px;
    top: 90px;
}
ul.tabs li { float: left;
    line-height: 1.2em;
    padding-left: 10px;
}


